@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
	--my-color: 240 50% 50%;
	--my-color-2: rgb(0, 0, 0);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", "Segoe UI", sans-serif;
}

body {
	min-height: 100vh;
	background-image: linear-gradient(90deg, #bf3636, #3c88ab);
}

.container div {
	padding: 1em;
}

.title {
	text-align: center;
	font-size: 28px;
}

h1 {
	display: inline-block;
	text-decoration: none;
  	background-image: linear-gradient(90deg, red, blue);
  	background-repeat: no-repeat;
  	background-position: bottom left;
  	background-size: 0% 3px;
  	transition: background-size 400ms ease-in-out;
}

h1:hover {
	background-size: 100% 3px;
  	color: inherit;
}

#sub1 {
	text-align: center;
	font-size: 21px;
}

.preguntas {
	font-size: 30px;
}

#footer {
	text-align: center;
	background-image: linear-gradient(90deg, burlywood, gray);
	font-size: 20px;
	line-height: 3;
	text-align: center;
	width: 100%;
	height: 100%;
}

#footer a {
	text-decoration: none;
	color: white;
}

#footer a:hover {
	color: black;
	transition: 0.5s;
}

.btn-div {
	display: flex;
	justify-content: center;
	text-align: center;
}

#btn-1 {
	position: relative;
	left: 45%;
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	cursor: pointer;
	padding: 0.2em;
	border-radius: 5%;
	transition: 0.5s;
}

#btn-1:hover {
	background-color: hsl(var(--my-color) / .2);
	transition: 0.5s;
}

.cont-r h2 {
	font-size: 30px;
	text-align: center; 	
}

.cont-p1,
.cont-p2,
.cont-p3,
.cont-p4,
.cont-p5,
.cont-p6,
.cont-p7,
.cont-p8,
.cont-p9,
.cont-p10  {
	font-size: 26px;
	padding: 1em;
	letter-spacing: 1px;
}

.container div input {
	cursor: pointer;
	margin-top: 2em;
}

input[type='radio'] {
	margin-right: 1em;
}

input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #d1d3d1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color:gold;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}